@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&family=Syne+Tactile&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header .line {
    background-color: #117050;
    height: 10px;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.bar {
    background-color: #117050;
    width: 168px;
    height: 22px;
}
h1 {
    font-family: 'Oswald', 'sans-serif';
    font-weight: bold;
    font-size: 96px;
    line-height: 95px;
    padding-bottom: 40px;
}
h2 {
    margin-top: 10px;
    font-family: 'Oswald', 'sans-serif';
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}
p {
    margin: 30px 0 30px 0;
    line-height: 26px;
}
.buttom {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #454545;
    border-radius: 3px;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: #454545;
}
.buttom:hover {
    background-color: #454545;
    color: #fff;
}
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
}

.header--left img {
    width: 64px;
    height: 64px;
}
.header--right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header--search form {
    display: flex;
}
.header--search input {
    font-size: 16px;
    padding: 10px 13px;
    border: 1px solid #999;
    outline: 0;
    max-width: 260px;
    height: 38px;
}
.header--search button {
    border: 0;
    background-color: transparent;
    margin-top: 3px;
    margin-left: -28px;
    cursor: pointer;
}
.header--search button img {
    width: 16px;
    height: 16px;
}
.header--menu {
    margin-left: 50px;
}
.header--menu img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Banner section */

.banner {
    background-image: url(../../media/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 90px 0px;
}

.banner--images {
    margin-top: 60px;
}
.banner--images img {
    width: 160px;
    height: 160px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin: 20px;
}

/* Area1 section */

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1--content {
    max-width: 450px;
    margin: auto;
    padding: 60px 0;
}
.area1-quote {
    font-style: italic;
    margin-top: 20px;
}
.area1--img1 {
    height: 350px;
    background-image: url(../../media/f2.jpg);
    background-size: cover;
    background-position: center;
}
.area1--img2 {  
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url(../../media/f1.jpg);
    background-size: cover;
    background-position: center;
}
.area1 .buttom{
    margin-top: 25px;
}

/* Area2 section */

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2--content {
    max-width: 450px;
    margin: auto;
    padding: 90px 0;
}
.area2--img1 {
    height: 450px;
    background-image: url(../../media/f4.jpg);
    background-size: cover;
    background-position: center;
}
.area2--img2 {  
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(../../media/f3.jpg);
    background-size: cover;
    background-position: center;
}
/* Area3 section */

.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3--img1-content {
    max-width: 420px;
    padding: 250px 0;
    margin-right: 132px;
}
.area3--content h2 {
    margin: 0;
}
.area3--img1 {
    display: flex;
    justify-content:flex-end;
    background-image: url(../../media/bg2.jpg);
    background-position: left;
}
.area3--img2 {
    background-image: url(../../media/f5.jpg);
    background-size: cover;
    background-position: left;
}

/* Area4 section */

.area4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #e8e9ee;
}
.area4--content {
    max-width: 313px;
    padding: 171px 0 190px;
    margin-left: auto;
}
.area4--img1 {
    grid-column: 2 / 4;
    background-image: url(../../media/bg3.jpg);
    background-size: cover;
    background-position: left;
}

/* Area5 section */
.area5{
    display: flex;
    align-items: flex-end;
    
}
.area5 .img {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color: #F5F4F0;
}
.area5 img {
    max-height: 400px;
}
/* Footer Area*/

footer div {
    background-color: #333;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

footer div a {
    text-decoration: none;
    color: #a8f8dd;
}

footer div a:hover {
    color: #fff;
}

/* CSS Responsivo */

@media (max-width: 1150px) {
    .container{
        padding: 0 20px;
    }
    .area3--img1 {
        justify-content: flex-start;
    }
    .area3--img1-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 980px) {
    .area1--content,
    .area2--content,
    .area4--content {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 768px){
    .area1 {
        grid-template-columns: 3fr 2fr;
    }
    .area2 {
        grid-template-columns: 2fr 3fr;
    }
    .area3 {
        grid-template-columns: 3fr 2fr;
    }
    .area4 {
        grid-template-columns: 2fr 3fr;
    }
}
@media (max-width:700px){
    .banner--images img {
        width: 100px;
        height: 100px;
        border: 3px solid #117050;
        margin: 10px;
    }
}
@media (max-width:530px){
    h1 {
        font-size: 80px;
    }
    .banner--images img {
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        margin: 10px;
    }
}
@media (max-width: 425px) {
    .header--search input {
       width: 50vw;
    }
    h1 {
        font-size: 50px;
        line-height: 45px;
    }
    .area1 {
        grid-template-columns: 1fr;
    }
    .area2 {
        grid-template-columns: 1fr;
    }
    .area3 {
        grid-template-columns: 1fr;
    }
    .area4 {
        grid-template-columns: 1fr;
    }
}
@media (max-width:340px){
    .header--search input {
        width: 40vw;
     }
}